body {
	font-family: 'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif;
	margin: 20px;
	line-height: 1.6;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	background-color: #efffef;
	border: 2px solid #b0ff60;

	border-radius: 5px;
	padding: 0px;
	margin-bottom: 20px;
}

.description {
	flex: 1 1 45%;
	padding: 10px 20px 0px;
	margin-right: 10px;
	text-indent: 5px;
}

.trinket {
	flex: 1 1 45%;
	padding: 15px 10px 0px;
}

.exercise {
	background-color: #effeff;
	border: 2px solid #3498db;
	border-radius: 5px;
	padding: 10px 20px 10px;
	width: calc(100% - 40px);
	margin: 10px auto;
}

.exercise-header {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.icon {
	background-color: #3498db;
	color: white;
	font-weight: bold;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	margin-right: 10px;
}

.exercise.red {
	background-color: #fff1e1;
}

.icon.red {
	background-color: #ff8800;
}


h1 {
	color: white;
	background-color: #000080;
	text-align: left;
	padding-left: 20px;
}

h2 {
	border-bottom: 4px solid #a1a1a1;
	display: inline-block;
	text-align: left;
	margin-top: 20px;
}

code {
	background-color: white;
	padding: 2px 4px;
	border-radius: 4px;
}

pre {
	background-color: white;
	padding: 10px;
	border-radius: 4px;
	overflow-x: auto;
}